@media (max-width: 768px){
    html{
        background-color: black;
    }

    #home, #about-me, #skills, #projects, #contact {
        height: 90vh; 
        overflow: hidden; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #home{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    #selfie{
        width: 40%;
        height: auto;
    }

    #about-me-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

    .skill{
        display: flex;
        flex-direction: column;
    }

    #projects{
        height: 100%;
    }

    .project{
        display: flex;
        flex-direction: column;
    }
}