html{
    background-color: #0b0226;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* <weight>: Use a value from 300 to 700 */
header, p, main, footer, a{
    color: white;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-a{
    margin: 15px;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

.nav-a:hover{
    transform: scale(1.05) rotate(-5deg) ;
    font-size: 20px;
    color:#a58de8
}


#home-name{
    font-size: 40px;
    color: #beb4fb;
    font-weight: bold;
}


#home-job-title{
    color: #9287d6;
    font-weight: normal;
}

#nav{
    display: flex;
    justify-content: space-evenly;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding-top: 10%;
    padding-bottom: 5%;
}

#selfie{
    width: 30%;
    height: auto;
    border-radius: 50% 0% 50% 0%;
}

hr{
    border: 0; 
    height: 1px; 
    background-color: #52528c; 
    margin: 20px 0; /* Add spacing around the divider */
}

#small-divider{
    border: 0; 
    height: 3px; 
    width: 30px;
    background-color: #52528c; 
    margin: 0 35px;
}

#about-me-content{
    display: flex;
    justify-content: space-around;
}

#about-me-text{
    padding: 10px;
    background-color: rgb(16, 2, 55);
    width: 50%;
    border-radius: 5px;
}

.lang-tags{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%; /* Take up the remaining space */
}

.tag-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.prog-language{
    padding: 10px;
    margin: 5px;
    width: 15%;
    background-color: #7c7cc8;
    text-align: center;
    border-radius: 8px;
}

.cv-button{
    background-color: #a38beb; /* Light purple background */
    border-radius: 100px;
    box-shadow: rgba(139, 84, 255, .2) 0 -25px 18px -14px inset, rgba(139, 84, 255, .15) 0 1px 2px, rgba(139, 84, 255, .15) 0 2px 4px, rgba(139, 84, 255, .15) 0 4px 8px, rgba(139, 84, 255, .15) 0 8px 16px, rgba(139, 84, 255, .15) 0 16px 32px;
    color: #17078f; /* Purple text */
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cv-button:hover {
    box-shadow: rgba(139, 84, 255, .35) 0 -25px 18px -14px inset, rgba(139, 84, 255, .25) 0 1px 2px, rgba(139, 84, 255, .25) 0 2px 4px, rgba(139, 84, 255, .25) 0 4px 8px, rgba(139, 84, 255, .25) 0 8px 16px, rgba(139, 84, 255, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-2deg);
}

#white-arrow{
    width: 10%;
    height: auto;
}

#download-cv{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
